.textArea {
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    text-transform: uppercase;
}
.textItem {
    display: inline-block;
    color: #fff;
    animation: animate 1s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(0px);
    } 20% {
        transform: translateY(-20px);
    } 40%,100% {
        transform: translateY(0px);
    }
}

.random-button {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-weight: 700;
    color: #fff;
    transition: transform 0.6s ease;
    padding: 4px 10px;
    border-radius: 10px;
    background-color: rgb(0, 43, 130);
}
@keyframes slideFromRight {
    0% {
      transform: translateX(100%);
      opacity: 0; 
    }
    50% {
        transform: translateX(0%);
      opacity: 1; 
    }
    100% {
      transform: translateX(-100%);
      opacity: 0; 
    }
  }
  
  .text-animation {
    animation: slideFromRight 5s ease-out forwards; 
  }